In [3]:
import pandas as pd

In [105]:
df = pd.read_csv('../raw_data/boxscore_df.csv')
df['starter']=df['starter'].astype(int)

In [106]:
duke = df[df['team']=='Duke Blue Devils']

In [127]:
starter_rows = []
starters_map = {}
for i, row in duke.iterrows():
    #TODO need to add team layer to the map
    # {game_id: {team1: [player1, ], {team2: [player1, ] }}}
    if row['game_id'] not in starters_map and row['starter']==1:
        starters_map[row['game_id']] = [row['player']]
    elif row['starter']==1:
        starters_map[row['game_id']].append(row['player'])
    curr_game_id = row['game_id']
    
    # if row['starter']==1:
    #     starters_arr.append(row['player'])

In [125]:
starters_array_df = pd.DataFrame(starters_map,orient).transpose()

In [126]:
starters_array_df.head()

                       0              1           2          3         4
401576147  K. Filipowski       R. Young  T. Proctor  J. McCain  J. Roach
401576148    M. Mitchell  K. Filipowski  T. Proctor  J. McCain  J. Roach
401576149    M. Mitchell  K. Filipowski  T. Proctor  J. McCain  J. Roach
401576150    M. Mitchell  K. Filipowski  T. Proctor  J. McCain  J. Roach
401576151    M. Mitchell  K. Filipowski  T. Proctor  J. McCain  J. Roach

In [99]:
duke.

                                                                       player
game_id   team
401574497 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401574555 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576147 Duke Blue Devils  K. FilipowskiR. YoungT. ProctorJ. McCainJ. Roa...
401576148 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576149 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576150 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576151 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576152 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401576153 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401576154 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401576155 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604090 Duke Blue Devils  K. FilipowskiR. YoungT. ProctorJ. McCainJ. Roa...
401604100 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604110 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604115 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604121 Duke Blue Devils  K. FilipowskiT. ProctorC. FosterJ. McCainJ. Ro...
401604136 Duke Blue Devils  K. FilipowskiT. ProctorC. FosterJ. McCainJ. Bl...
401604144 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604148 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorC. FosterJ. ...
401604155 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorC. FosterJ. ...
401604165 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604172 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604176 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604183 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604194 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604203 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604210 Duke Blue Devils  M. MitchellK. FilipowskiC. FosterJ. McCainJ. R...
401604217 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604218 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...
401604225 Duke Blue Devils  M. MitchellK. FilipowskiT. ProctorJ. McCainJ. ...

In [95]:
def find_team_starters(team):
    team['num_starts'] = team['starter'].expanding().sum()
    
    team['num_starts'] = team['num_starts'].shift(1).fillna(1)    
    return team

def find_starters_array(team):
    team['starters_array'] = list(team.sort_values(by='num_starts',ascending=False).head()['player'].values).shift(1)
duke_starters = duke.groupby(['team','player'],group_keys=False)[['starter']].apply(find_team_starters)#.rename(columns={'starter':'num_starts'})

KeyError: 'game_id'

In [92]:
duke_cleaned = pd.concat([duke, duke_starters],axis=1)
# x.head()
duke_cleaned[duke_cleaned['player']=='K. Filipowski']#[['num_starts']]

,game_id,team,player,player_id,position,starter,min,fgm,fga,2pm,...,dreb,reb,ast,stl,blk,to,pf,pts,starter,num_starts
42,401576147,Duke Blue Devils,K. Filipowski,4684793,C,1,27.0,10,12,9,...,7,7,1,0,1,1,1,25,1,1.0
7309,401576148,Duke Blue Devils,K. Filipowski,4684793,C,1,31.0,10,20,7,...,7,8,0,2,1,0,4,25,1,1.0
12433,401576149,Duke Blue Devils,K. Filipowski,4684793,C,1,31.0,5,13,5,...,5,8,3,1,2,2,4,15,1,2.0
16143,401576150,Duke Blue Devils,K. Filipowski,4684793,C,1,17.0,3,4,3,...,3,6,1,2,1,1,1,10,1,3.0
22119,401576151,Duke Blue Devils,K. Filipowski,4684793,C,1,23.0,6,10,4,...,5,5,4,1,2,1,3,17,1,4.0
25264,401576152,Duke Blue Devils,K. Filipowski,4684793,C,1,31.0,8,16,8,...,10,14,3,1,3,1,3,21,1,5.0
30915,401574555,Duke Blue Devils,K. Filipowski,4684793,C,1,32.0,9,20,8,...,6,10,1,2,1,3,3,26,1,6.0
34161,401604090,Duke Blue Devils,K. Filipowski,4684793,C,1,35.0,4,9,4,...,6,9,5,1,4,0,1,12,1,7.0
41156,401576153,Duke Blue Devils,K. Filipowski,4684793,C,1,32.0,2,10,2,...,11,13,4,1,1,2,2,5,1,8.0
44762,401576154,Duke Blue Devils,K. Filipowski,4684793,C,1,35.0,10,16,6,...,9,12,8,1,3,7,2,28,1,9.0
51881,401576155,Duke Blue Devils,K. Filipowski,4684793,C,1,32.0,5,14,5,...,7,10,4,3,0,2,4,13,1,10.0
58543,401574497,Duke Blue Devils,K. Filipowski,4684793,C,1,22.0,8,10,7,...,4,4,2,2,5,0,4,19,1,11.0
61658,401604100,Duke Blue Devils,K. Filipowski,4684793,C,1,27.0,5,7,5,...,7,7,3,1,1,1,3,12,1,12.0
65101,401604110,Duke Blue Devils,K. Filipowski,4684793,C,1,35.0,2,12,1,...,5,6,4,0,3,1,2,7,1,13.0
68747,401604115,Duke Blue Devils,K. Filipowski,4684793,C,1,30.0,11,12,7,...,6,10,1,0,1,5,1,26,1,14.0
72192,401604121,Duke Blue Devils,K. Filipowski,4684793,C,1,37.0,10,24,6,...,6,13,4,2,2,0,2,30,1,15.0
79164,401604136,Duke Blue Devils,K. Filipowski,4684793,C,1,36.0,5,10,2,...,5,5,2,1,1,5,3,19,1,16.0
82955,401604144,Duke Blue Devils,K. Filipowski,4684793,C,1,36.0,6,16,5,...,11,15,5,1,1,3,4,17,1,17.0
86210,401604148,Duke Blue Devils,K. Filipowski,4684793,C,1,24.0,2,8,2,...,4,4,1,1,4,3,5,9,1,18.0
89615,401604155,Duke Blue Devils,K. Filipowski,4684793,C,1,30.0,6,9,6,...,7,8,2,1,0,3,4,14,1,19.0
93272,401604165,Duke Blue Devils,K. Filipowski,4684793,C,1,31.0,9,17,8,...,4,5,0,0,1,2,4,22,1,20.0
97812,401604172,Duke Blue Devils,K. Filipowski,4684793,C,1,21.0,2,9,2,...,4,9,3,1,1,3,4,8,1,21.0
100462,401604176,Duke Blue Devils,K. Filipowski,4684793,C,1,35.0,7,15,5,...,1,1,3,1,1,1,2,16,1,22.0
103824,401604183,Duke Blue Devils,K. Filipowski,4684793,C,1,38.0,8,14,7,...,8,11,2,1,2,4,2,21,1,23.0
107376,401604194,Duke Blue Devils,K. Filipowski,4684793,C,1,28.0,3,7,3,...,7,8,1,0,0,6,4,8,1,24.0
111800,401604203,Duke Blue Devils,K. Filipowski,4684793,C,1,31.0,5,8,3,...,5,7,4,0,3,1,2,15,1,25.0
114557,401604210,Duke Blue Devils,K. Filipowski,4684793,C,1,38.0,6,13,5,...,6,8,5,0,0,1,4,17,1,26.0
119050,401604217,Duke Blue Devils,K. Filipowski,4684793,C,1,29.0,4,8,4,...,8,10,6,0,1,4,4,9,1,27.0
122019,401604218,Duke Blue Devils,K. Filipowski,4684793,C,1,29.0,9,14,8,...,4,7,2,3,1,2,1,21,1,28.0
125195,401604225,Duke Blue Devils,K. Filipowski,4684793,C,1,0.0,4,6,3,...,1,2,2,1,0,1,3,9,1,29.0

In [93]:
# Target game 401604225
duke_cleaned[duke_cleaned['game_id']==401604225]

,game_id,team,player,player_id,position,starter,min,fgm,fga,2pm,...,dreb,reb,ast,stl,blk,to,pf,pts,starter,num_starts
125194,401604225,Duke Blue Devils,M. Mitchell,4433285,F,1,0.0,2,7,2,...,2,6,0,0,0,0,0,5,1,25.0
125195,401604225,Duke Blue Devils,K. Filipowski,4684793,C,1,0.0,4,6,3,...,1,2,2,1,0,1,3,9,1,29.0
125196,401604225,Duke Blue Devils,T. Proctor,5023693,G,1,0.0,4,10,1,...,4,4,4,1,0,3,1,11,1,18.0
125197,401604225,Duke Blue Devils,J. McCain,4683778,G,1,0.0,6,14,3,...,4,5,1,1,0,0,1,16,1,29.0
125198,401604225,Duke Blue Devils,J. Roach,4433135,G,1,0.0,9,17,8,...,2,4,2,1,0,0,2,21,1,26.0
125199,401604225,Duke Blue Devils,S. Stewart,4869739,F,0,0.0,5,7,5,...,1,5,2,2,3,0,4,12,0,0.0
125200,401604225,Duke Blue Devils,TJ Power,4684843,F,0,0.0,1,5,0,...,0,1,1,0,1,0,0,3,0,0.0
125201,401604225,Duke Blue Devils,R. Young,4397232,C,0,0.0,1,2,1,...,1,5,0,0,0,0,3,2,0,2.0
125202,401604225,Duke Blue Devils,TEAM,TOTAL,TOTAL,0,NaN,32,68,23,...,18,37,12,6,4,5,14,79,0,0.0

In [73]:
# Game before 401604218, will use date in prod
list(duke_cleaned[duke_cleaned['game_id']==401604218].sort_values(by='num_starts',ascending=False).head()['player'].values)

['K. Filipowski', 'J. McCain', 'J. Roach', 'M. Mitchell', 'T. Proctor']